<body id="login">


    <div class="login">
        <h1 class="welcome">Welcome to Schoolbook <i style="color: white" class="fa fa-pencil" aria-hidden="true"></i></h1>
        <div>
            <form method="post" action="">
                Username <input type="text" name="username" class='username'><br>
                Password <input type="password" name="password"><br>
                <input type="submit" value="Log in"><input type="button"value="Sign up!" id="signup" onclick="location.href='/register';">
            </form>
        </div>

    </div>

</body>