<body id="register">


<div class="register">
    <h1>Register</h1>
    <form method="post" action="">
        first name: <input type="text" name="firstname"><br>
        last name:  <input type="text" name="lastname"><br>
        age:        <input type ="number" name="age"><br>
        username:   <input type="text" name="username"><br>
        password:   <input type="password" name="password"><br>
        <input type="submit">
    </form>
</div>
</body>